// Clearfix - micro version
// http://nicolasgallagher.com/micro-clearfix-hack/
@mixin clearfix {
  &:before, &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
  &:after {
    clear: both;
  }
  *zoom: 1;
}

//Vertical alignment
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

// Gradient
@mixin gradient($from, $to) {
  background: $from; /* Old browsers */
  background: linear-gradient(to bottom,  $from 0%,$to 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$from}', endColorstr='#{$to}',GradientType=0 ); /* IE6-9 */
}

// no bullets on ul's
@mixin no-bullets($margin: 0, $padding: 0) {
  margin: $margin;
  padding: $padding;
  list-style: none;
}

@mixin font-smooth {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// set a custom margin bottom for the last of type
// useful for large bodies of paragraph text
@mixin last-type-margin-bottom($px) {
  &:last-of-type {
    margin-bottom: $px;
  }
}