<section class="join-cta join-cta--section">
  <div class="container">
    <h3 role="heading" aria-level="3">Motley Fool Returns vs S&P</h3>
    <!-- join cta container start -->
    <div class="join-cta--container container-flex">
      
      <!-- stat table start -->
      <div class="stat-table" role="table" aria-label="Motley Fool Stock Advisor Returns vs S&P">
        
        <div class="stat-table--header col-1-1" role="rowgroup">
          <div class="container container-flex" role="row">
            <div class="col-1-3 blank"></div>
            <div class="col-1-3 stat-key" role="columnheader">
              <span>5 Years</span>
            </div>
            <div class="col-1-3 stat-key" role="columnheader">
              <span>17+ years</span>
            </div>
          </div>
        </div>

        <div class="stat-table--row col-1-1" role="rowgroup">
          <div class="container container-flex" role="row">

            <div class="stat-table--stat col-1-3" role="cell">
              <div class="stat-sa">
                <h5 class="green">Stock Advisor</h5>
              </div>
              <div class="stat-sp">
                <h5 class="red">S&P 500</h5>
              </div>
            </div>

            <div class="stat-table--stat col-1-3" role="cell">
              <!-- Stock advisor 5y -->
              <div class="stat-sa">
                <span aria-label="Stock Advisor's returns over 5 years">63%</span>
              </div>
              <!-- SP500 5y-->
              <div class="stat-sp">
                <span aria-label="S&P 500's returns over 5 years">41%</span>
              </div>
            </div>

            <div class="stat-table--stat col-1-3" role="cell">
              <!-- Stock Advisor 17y -->
              <div class="stat-sa">
                <span aria-label="Stock Advisor's returns over 17+ years">371%</span>
              </div>
              <!-- S&P 17y -->
              <div class="stat-sp">
                <span aria-label="S&P 500's returns over 17+ years">99%</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- stat table end -->
      <div class="join-cta--sign-up">
        <div class="container">
          <div class="col-1-1">
            <p class="small">Stock Advisor launched in February of 2002. Returns as of 12/27/2019.</p>
            <a class="btn" href="https://www.fool.com/mms/mark/op-sa-v-sp-wdg" aria-label="Join Stock Advisor">Join Stock Advisor</a>
          </div>
        </div>
      </div>
    </div>
    <!-- join cta container end -->
  </div>
</section>