<section class="join-cta join-cta--section">
    <div class="container">
        <h2 role="heading" aria-level="2">Motley Fool Returns vs S&P</h2>

        <!-- join cta container start -->
        <div class="join-cta--container container container-flex">

            <div class="col-1-3">
                <span>
                    <span>Stock Advisor</span>
                </span>
                <span>
                    <span>S&P 500</span>
                </span>
            </div>

            <div class="col-1-3">
                <span>5 Years</span>
                <!-- Stock advisor 5y -->
                <span>
                    <span>63%</span>
                </span>
                <!-- SP500 5y-->
                <span>
                    <span>41%</span>
                </span>
            </div>

            <div class="col-1-3">
                <span>17+ years</span>
                <!-- Stock Advisor 17y -->
                <span>
                    <span>371%</span>
                </span>
                <!-- S&P 17y -->
                <span>
                    <span>99%</span>
                </span>
            </div>

            <div class="col-1-1">
                <p>Stock Advisor launched in February of 2002. Returns as of 12/27/2019.</p>
                <a href="https://www.fool.com/mms/mark/op-sa-v-sp-wdg" aria-label="Join Stock Advisor">Join Stock Advisor</a>
            </div>

        </div>
        <!-- join cta container end -->
    </div>
</section>