header {
	background-color: $white;
	margin-bottom: 1rem;
	padding: 1.25rem 0;
	position: relative;

	&::after {
		background: $blue repeating-linear-gradient(
			to right, 
			$blue, $blue 16.66%,
			$yellow 16.66%, $yellow 33.33%,
			$red 33.33%, $red 50%,
			$green 50%, $green 66.66%,
			$blue 66.66%, $blue 83.33%,
			$yellow 83.33%, $yellow 100%
		);
	  bottom: 0;
		content: '';
		display: block;
		height: 3px;
		left: 0;
		position: absolute;
		width: 100%;
	}

	@include breakpoint($break-md) {
		margin-bottom: 2rem;
		padding: 2.5rem 0;
	}
}