h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 600;
  font-family: $system-font;
  color: $darkBlue;
  line-height: 1.3;
}

h1 {
  font-size: 2.875rem;
  line-height: 1.2;

  @include breakpoint($break-md) {
    font-size: 3.375rem;
  }

  // same as h2
  &.small {
    font-size: 2rem;

    @include breakpoint($break-md) {
      font-size: 2.625rem;
    }
  }
}

h2 {
  font-size: 2rem;

  @include breakpoint($break-md) {
    font-size: 2.625rem;
  }

  // same as h1
  &.large {
    font-size: 2.875rem;

    @include breakpoint($break-md) {
      font-size: 3.375rem;
    }
  }
}

h3 {
  font-size: 1.5rem;

  @include breakpoint($break-md) {
    font-size: 1.75rem;
  }
}

h4 {
  font-size: 1.375rem;

  @include breakpoint($break-md) {
    font-size: 1.625rem;
  }
}

h5 {
  font-size: 1.25rem;

  @include breakpoint($break-md) {
    font-size: 1.375rem;
  }
}

h6 {
  font-size: 1rem;

  @include breakpoint($break-md) {
    font-size: 1.125rem;
  }
}

p {
  margin: 0 0 1.25rem;
  font-size: 1rem;
  line-height: 1.6;

  &.small {
    font-size: 0.875rem;
  }


  &.large {
    font-size: 1.25rem;
  }
}

ul,
ol {
  padding-left: 2rem;
  font-size: 1rem;

  @include breakpoint($break-md) {
    font-size: 1.125rem;
  }

  li {
    margin-bottom: 0.9rem;
  }

  ul,
  ol {
    margin: 1.5rem 0 1.5rem 0.5rem;
  }
}

.red {
  color: $red;
}

.green {
  color: $green;
}