$ts: 0.2s;
$te: ease;

// custom mf border
@mixin mf-after-border($height, $width) {
  &::after {
    background: $blue repeating-linear-gradient(
      to right, 
      $blue, $blue 16.66%,
      $yellow 16.66%, $yellow 33.33%,
      $red 33.33%, $red 50%,
      $green 50%, $green 66.66%,
      $blue 66.66%, $blue 83.33%,
      $yellow 83.33%, $yellow 100%
    );
    bottom: 0;
    content: '';
    display: block;
    height: $height;
    left: 0;
    position: absolute;
    width: $width;
  }
}