{% load static %}
<html>

<head>
  <title>Hello</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/styles.css" type="text/css">

  <!-- seo tags -->
  <meta name="description" content="A Foolish take on stocks and the market. Get stock ideas, investing tips, and perspective.">
  <meta name="keywords" content="Sock Market, Stock Market, Sock Market News, Stock Market News">

  <!-- extra from sprops -->
  <meta name="author" content="Sarah Proper">
</head>

<body>
  <!-- header start -->
  <header role="banner">
    <div class="container">
      <div class="col col-1-1">
        <a href="http://www.fool.com" class="link-white no-hover" aria-label="Go To the Homepage">
          <img alt="Motley Fool Logo" src="https://g.foolcdn.com/art/fool15/bg/fool-logo.png">
        </a>
      </div>
    </div>
  </header>
  <!-- header end -->

  <!--Page Content -->
  <main class="main" id="main" role="main">
    <div class="container main--container">
     
      <!-- main heading section -->
      <section class="main--heading col col-1-1">     
        <h1 role="heading" aria-level="1">Stock Market News</h1>
        <p>
          A Foolish take on stocks and the market. Get stock ideas, investing tips, and perspective.
        </p>
      </section>  

      <!-- main article section -->
      <section class="main--articles col col-1-1">
        <h2 role="heading" aria-level="2">Latest Headlines</h2>
        
        <!-- vue app starts -->
        <div class="articles--container container container-flex" id="vue-app">

          <p v-if="isErrored">
            We're sorry, we're not able to retrieve this information at the moment, please try back later!
          </p>

          <p v-if="isLoading && !isErrored">Loading...</p>

          <template v-if="!isLoading">
            <template v-for="(article, index) in apiArticles">
              {% include "partials/article.html" %}
            </template>
          </template>

        </div>
        <!-- vue app ends -->
      </section>

    </div>
  </main>
  <!-- page content end -->

  <!-- join CTA section (has section tag in template) -->
  {% include "partials/join_sa.html" %}

  <!-- footer start -->
  <footer role="contentinfo">
    <div class="container">
      <p class="small">&copy; 1995 - 2020 The Motley Fool. All rights reserved.</p>
    </div>
  </footer>
  <!-- footer end -->

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script type="text/javascript" src="/static/scripts.js"></script>
</body>

</html>