.article {
	// only show 5
	&:nth-child(n+6){
		display: none;
	}

	&--container {
		//background-color: $white;
		height: 100%;
		margin: 0 1.25rem 2rem;
	}

	&--image-container {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 14rem;
		padding: 1rem;
		position: relative;
		overflow: hidden;

		@include breakpoint($break-md) {
			height: 19rem;
			padding: 1.5rem;
		}
	}

	&--content-container {
		background-color: $white;
		padding: 1rem;
	}

	/*
		Overrides for featured articles
	*/
	&-featured {
		.article--content-container {
			padding: 2rem;
		}
	}
}