.join-cta {
	@include mf-after-border(3px, 100%);
	background-color: $white;
	padding: 1.75rem 0 1.5rem;
	position: relative;
	text-align: center;

	@include breakpoint($break-md) {
    padding: 2.5rem 0;
  }

  &--sign-up {
  	padding: 1rem 0;
  	width: 100%;

  	p {
  		margin-bottom: 1rem;
  	}
  }
}

.stat-table {
	border: 1px solid rgba($border-color, .5);
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto 1rem;
	max-width: 900px;
	padding: 1rem 0;
	width: 100%;

	&--header {
		.stat-key {
			display: none;

			@include breakpoint($break-md) {
				display: block;
				font-style: italic;
				padding: 15px;
			}
		}
	}

	&--stat {
		align-items: center;
  	display: flex;
  	flex-wrap: wrap;
  	position: relative;

  	// fake our mobile labels
  	@include breakpoint(max-width $break-md) {
  		&:nth-of-type(2),
  		&:nth-of-type(3) {
  			&::after {
  				font-size: .875rem;
  				font-style: italic;
  				position: absolute;
  				text-align: center;
  				width: 100%;
  			}
  		}

  		&:nth-of-type(2) {
  			&::after {
  				content: '5 years';
  			}
  		}

  		&:nth-of-type(3) {
  			&::after {
  				content: '17+ years';
  			}
  		}
  	}

  	// fake our divider line
  	@include breakpoint($break-md) {
	  	&:first-of-type {
	  		.stat-sa {
	  			@include mf-after-border(2px, 300%);
	  		}
	  	}
  	}

  	.stat-sa,
		.stat-sp {
			padding: 10px;
			width: 50%;

			h5 {
				margin-bottom: 0;
			}

			span {
				font-size: 2rem;
				font-weight: bold;
			}

			@include breakpoint($break-md) {
				min-height: 65px;
				padding: 1rem;
				width: 100%;
			}
		}

		.stat-sa {
			color: $green;
			position: relative;
		}

		.stat-sp {
			color: $red;
		}
  }

  &--footer {
  	padding-top: 1.5rem;

  	@include breakpoint($break-md) {
  		padding-top: 2rem;
  	}
  }
}